/Ejercicio02/build/
/Ejercicio04/.gradle/
/Ejercicio04/build/
/Ejercicio4/.gradle/
/Ejercicio4/build/
/ejercicio6/.gradle/
/ejercicio6/build/
/ejercicio7/.gradle/
/ejercicio7/build/
/ejercicio07/.gradle/
/ejercicio07/build/
